# Copyright (c) 2004-2005 Sun Microsystems, Inc. All rights reserved. Use is
# subject to license terms.
# 
# This program is free software; you can redistribute it and/or modify
# it under the terms of the Lesser GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
# USA

# You must download the SaverBeans SDK to build this screensaver.
# Set this to the installation directory for the SaverBeans SDK.
# See http://jdic.dev.java.net/
saverbeans.path=/opt/saverbeans

# If you wish to create a windows installer (by running the win32-installer
# target), you must specify the path to nsis here.  This only works on
# Windows.  You cannot build a Windows installer from Unix.
# See http://nsis.sourceforge.net/
nsis.path=C:/Program Files/NSIS

# Parameters to pass to screensaver during debugging
debug.params=